fastapi==0.116.1
sqlalchemy==2.0.43
uvicorn==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
pytest==8.4.1
httpx==0.28.1
alembic==1.16.4
psycopg[binary]==3.2.9
PyJWT==2.9.0
argon2-cffi==23.1.0
email-validator==2.2.0
icalendar==6.1.0
pyinstaller==6.15.0
